IF is_input IS SUPPLIED.
      lv_json_final = /goog/cl_json_util=>serialize_json(
        is_data          = is_input
        iv_method_id     = lv_mid
        it_name_mappings = gt_name_mappings
      ).
ENDIF.