**************************************************************************
*& ID: {{importPath}}                                                                                   
**************************************************************************
    DATA: lv_uri        TYPE string,
          lv_json_final TYPE string,
          lv_mid        TYPE string,
          ls_output     LIKE es_output,
          lv_response   TYPE string.
    
    {{#pathParams}}
    {{#-first}}
    DATA: lv_temp   TYPE string,
          lv_offset TYPE i,
          lv_str    TYPE string.
    {{/-first}}
    {{/pathParams}}

    {{^pathParams}}
    {{#queryParams}}
    {{#-first}}
    DATA: lv_temp   TYPE string,
          lv_offset TYPE i,
          lv_str    TYPE string.
    {{/-first}}
    {{/queryParams}}
    {{/pathParams}}
          
    DATA: ls_common_qparam TYPE /goog/s_http_keys.

    lv_uri = gv_endpoint_suffix && |{{path}}|.
    IF gt_common_qparams IS NOT INITIAL.
      lv_uri = lv_uri && '?'.
      LOOP AT gt_common_qparams INTO ls_common_qparam.
        IF ls_common_qparam-name IS NOT INITIAL AND
          ls_common_qparam-value IS NOT INITIAL.
          lv_uri = lv_uri && ls_common_qparam-name && '=' && ls_common_qparam-value.
          lv_uri = lv_uri && '&'.
        ENDIF.
      ENDLOOP.
      lv_uri = substring( val = lv_uri off = 0 len = strlen( lv_uri ) - 1 ).
    ENDIF.
    {{#queryParams}}
    {{#-first}}
    IF gt_common_qparams IS INITIAL.
      lv_uri = lv_uri && '?'.
    ELSE.
      lv_uri = lv_uri && '&'.
    ENDIF.
    {{/-first}}
    {{/queryParams}}


