    METHODS constructor
      IMPORTING
        !iv_key_name   TYPE /goog/keyname OPTIONAL
        !iv_log_obj    TYPE balobj_d OPTIONAL
        !iv_log_subobj TYPE balsubobj OPTIONAL 
      RAISING
        /goog/cx_sdk .
    METHODS close.
  PROTECTED SECTION.
  PRIVATE SECTION.
  